html {
  font-family: "Lato", sans-serif;
}

.container {
  display: flex;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: aliceblue;
}

.body {
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

h1.logo {
  font-size: 2rem;
  font-weight: 900;
}

button.addbook {
  border-radius: 50%;
  background-color: grey;
  border: none;
  height: 45px;
  width: 45px;
  font-size: 1.5rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: lavender;
}

footer > p {
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 20px;
  width: 10%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  padding: 2px 16px;
}

@media screen and (max-width: 600px) {
  footer {
    display: none;
  }
}
